*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    min-height: 100vh;
    font-family: vazir;
}
a{

color: #555 !important;
}
a:hover{
    color: rgb(255, 148, 157) !important;
}
ul{
    list-style: none;
}
